
h1,h2,h3
{
color: #663144;
font-family: arial, 'sans serif'; 
text-align:center;
}

p,table,li,address
{
font-family: arial, 'sans serif'; 
border-spacing: 1px
}

p,li,th,td
{
font-size: 100%;
color: #3A161A
}

th {background-color:#E8ECED }

body
{
background-color: #E0D6B8;
}

a
{
float:left;
text-decoration:none;
color:#E0D6B8;
background-color:#663144;
padding:0.2em 0.6em;
}
a:hover {background-color:#76A0B0;}
li {display:inline;}
